.HeaderWrap {
  max-width: 100%;
  width: 100%;
  padding: 20px 0;
  padding-top: 40px;
  font-family: Circe;
  color: #252b35;
  .logoWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 55px;
      height: 42px;
    }
    span {
      margin-left: 20px;
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 120%;
    }
  }
  .menuWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    li {
      cursor: pointer;
    }
    li:hover {
      color: #2f80ed !important;
      font-weight: bold;
    }
  }
  .authBtnWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #96a0b3;
  }
}

@media only screen and (max-width: 600px) {
  .authBtnWrap {
    flex-direction: column-reverse;
    button:last-child {
      margin-bottom: 25px;
    }
  }
}
