@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

@font-face {
  font-family: circe;
  src: url(./fonts/circe/CRC25.otf);
  font-weight: 100;
}
@font-face {
  font-family: circe;
  src: url(./fonts/circe/CRC35.otf);
  font-weight: lighter;
}
@font-face {
  font-family: circe;
  src: url(./fonts/circe/CRC55.otf);
  font-weight: normal;
}
@font-face {
  font-family: circe;
  src: url(./fonts/circe/CRC65.otf);
  font-weight: bold;
}
