@import url("./assets/style.scss");

._light {
  background: linear-gradient(113.85deg, #ebeef3 0%, #dee3ea 91.75%); //light
}

._dark {
  background: linear-gradient(113.85deg, #040404 0%, #303030 91.75%); //Dark
  * {
    color: #fff !important;
  }
}

.container {
  max-width: 1300px;
}

.container-wrap {
  min-height: 100vh;
  padding-bottom: 100px;
  background: radial-gradient(
      53.61% 40.84% at 101.46% 93.83%,
      rgba(104, 113, 245, 0.16) 0%,
      rgba(138, 158, 229, 0) 100%
    ),
    radial-gradient(
      36.53% 27.83% at 17.24% 12.46%,
      rgba(82, 126, 211, 0.11) 0%,
      rgba(96, 129, 203, 0) 100%
    ),
    radial-gradient(
      33.52% 41.94% at 0% 28.94%,
      rgba(56, 118, 243, 0.23) 0%,
      rgba(87, 123, 213, 0) 100%
    );
}

/* width */
::-webkit-scrollbar {
  width: 0;
}
